@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* base (homepage) color as requested */
  --color-bg: #120C18;
  --color-surface: #1F132C;
  --color-text: #F9FAFB;
  --color-text2: #BA9BDA;
  --color-surface2: #1A1122;
  --color-secondary: #A855F7;
  --color-success: #22C55E;
  --color-warning: #FBBF24;
  --color-error: #EF4444;
  --color-accent: #06B6D4;
  --color-button-1: #7F13EC;
}

/* dark theme overrides (activated when `html` has class "dark") */
/* .dark {
  --color-bg: #0b0a0d;
  --color-surface: #111827;
  --color-text: #F3F4F6;
  --color-primary: #60a5fa;
  --color-secondary: #c084fc;
  --color-success: #34d399;
  --color-warning: #fbbf24;
  --color-error: #fb7185;
  --color-accent: #2dd4bf;
  --color-button-1: #7F13EC;
} */

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}