# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
*.env

# Allow .env.example
!.env.example

# Poetry
poetry.lock

# Pytest
.coverage
.pytest_cache/
htmlcov/

# Ruff
.ruff_cache/

# VSCode/IDE
.vscode/

analysis_results/